---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<p>
				Hi, I'm Ilja Baroŭski, Master of Mathematics and Computer
				Science. In 2023, I graduated from the Faculty of Mechanics and
				Mathematics of the Belarusian State University as Bachelor of
				Mathematics and System Analyses. In 2025, I got Master's degree
				in Mathematics and Computer Science.
			</p>

			<p>
				I have experience with C/C++, Rust, Python, Julia, C#, Dart,
				Wolfram, Go and Crystal. During my programming journey I try to
				make things better, optimize algorithm and crete tools from
				scratch. It can be proved by projects like
				<a href="https://github.com/Scurrra/cregex">cregex</a> &mdash; a
				tool for matching regexes in pure C,
				<a href="https://github.com/Scurrra/SimplePolynomialRing.jl"
					>SimplePolynomialRing.jl</a
				> &mdash; a Julia package for working with polynomial rings developed
				for course "Error detection and correction",
				<a href="https://github.com/Scurrra/docsync">docsync</a> &mdash;
				a cli tool for translation your documentation into another languages,
				<a href="https://github.com/Scurrra/fossil">Fossil.cr</a> &mdash;
				a simple framework for easier REST APIs development in Crystal,
				<a href="https://github.com/Scurrra/Corgi.jl">Corgi.jl</a> is an
				underdevelopment Julia package with machine learning algorithms from
				scratch.
			</p>

			<!-- <p>
				<a href="https://github.com/Scurrra/ya">Yet Another P2P</a> 
			</p> -->

			<p>
				My masters thesis was on computer modeling of human voice.
				The idea was to use wavelet theory to simplify model and make it really lightweight.
				During this work the <a href="https://github.com/Scurrra/WaveletNN-PyTorch">waveletnn</a> library was developed.
				It provides trainable PyTorch's `nn.Module`s for using wavelet transform on both 1D signals and 2D images.
			</p>
		</main>
		<Footer />
	</body>
</html>
