---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<p>
				Hi, I'm Ilja Baroŭski! Welcome to my personal
				site/portfolio/blog! I love to solve problems and create tools from scratch.
				Here you can find a brief intro to my projects.
			</p>

			<blockquote>
				<p>
					I'm looking for a job as Machine Learning / Software
					Engineer. If you have some vacancies, please let me know.
				</p>
			</blockquote>
		</main>
		<Footer />
	</body>
</html>
