---
import HeaderLink from "./HeaderLink.astro";
import ThemeIcon from "./ThemeIcon.astro";

const { current = "" } = Astro.props;
---

<style>
    nav {
        margin-left: auto;
        display: flex;
        justify-content: flex-end;
        flex: 1;
        align-items: center;
        font-family: var(--font-family-sans);
        font-weight: 700;
        text-transform: uppercase;
    }

    .theme-toggle-container {
        /* padding: 10px 5px; */
        /* display: block; */
        display: block;
        justify-content: flex-end;
        position: relative;
        flex: 1;
        margin-left: 1em;
        margin-right: 1em;
        max-width: 24px;
        padding: 0;
    }
    /* @media screen and (max-width: 520px) {
        .theme-toggle-container {
            margin-right: 1em;
        }
    } */
</style>

<!-- <div class="navigation-bar"> -->
<nav>
    <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink href="/pets">Projects</HeaderLink>
    <HeaderLink href="/blog">Blog</HeaderLink>
    <HeaderLink href="/about">About</HeaderLink>
</nav>
<div class="theme-toggle-container">
    <ThemeIcon />
</div>
<!-- </div> -->
